#aboutUs, #supportUs, #adopt, #adopted, #register, #login, #addAnimals, #addBtn, #contacts {
    display: none;
}

.nav-button{
    background: none;
    border: none;   
    outline: none;
}
.nav-button:hover{
    cursor: pointer;
}

.register-form input{
    width: 50%;
}