@media only screen and (max-width: 1000px) {
    .pictures .row{
        margin: 0;
    }
    .item{
        margin-bottom: 18px;
    }
    .modal i{
        margin-top: 8px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 770px) {
    body{
        background-color: lightblue;
    }
    .separation-1{
        padding-left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    .myRow{
        margin-top: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .register-form input, .login-form input{
        width: 410px;
    }
    .modal img {
        max-width: 70%;
    }

    
  }

  @media only screen and (max-width: 460px) {
    .register-form input, .login-form input{
        width: 370px;
    }
  }
  @media only screen and (max-width: 360px) {
    .register-form input, .login-form input{
        width: 340px;
    }
  }