<div class="row">
    <div class="col-lg-8">
        <h1>How we help</h1>
        <p>Pets are at the heart of everything we do. Each year, thousands of cats, dogs, small pets and horses turn to
            our animal hospitals, clinics and rehoming services for treatment and to find them the happy homes they
            deserve. Meanwhile, our Education and Behaviour Teams prepare future pet owners to take responsibility and
            look after their pets for life.</p>
    </div>
    <div class="col-lg-4">
        <img src="https://thenypost.files.wordpress.com/2018/10/102318-dogs-color-determine-disesases-life.jpg?quality=90&strip=all&w=618&h=410&crop=1"
            alt="" width="100%">
    </div>
</div>