<div class="container">
    <div class="row">
    <div class="col-lg-6">
        <h1>Find us:</h1>
        <h2>Country: Bulgaria</h2>
        <h2>City: Sofia</h2>
        <h2>Str. 7th street, house 23, floor 2</h2>
        <h2>Number: 0899/399993</h2>
        <h2>Email: petfinder@gmail.com</h2>
        <a href=""><i class="fab fa-facebook-f"></i> </a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
    </div>
    <div class="col-lg-6">
        <h2>Email us:</h2>
        <form action="" class="form-group">
            <input type="email" name="email" class="form-control mb-1" placeholder="Email">
            <input type="text" name="name" class="form-control mb-1" placeholder="Name">
            <textarea name="msg" id="" cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
        </form>
    </div>

</div>
</div>