<nav class="navbar navbar-expand-md">
    <a class="navbar-brand abs" href="index.html">petfinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="nav-link nav-button active" id="homeBtn" onclick="homeClicked()">Home</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button " id="aboutUsBtn" onclick="aboutUsClicked()">How we Help</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="supportUsBtn" onclick="supportUsClicked()">Support us</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="adoptedBtn" onclick="adoptedClicked()">Adopted</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="adoptBtn" onclick="adoptClicked()">Re-home a pet</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="contactsBtn" onclick="contactsClicked()">Find Us</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="registerBtn" onclick="registerClicked()">Register</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="loginBtn" onclick="loginClicked()">Login</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="logoutBtn" onclick="logOut()">Logout</button>
            </li>
            <li class="nav-item">
                <button class="nav-link nav-button" id="addBtn" onclick="addAnimalsClicked()">Add Animals</button>
            </li>
            {{!-- Hide and show nav buttons for logged users --}}
            <script>
                (async () => {
                    if (localStorage.getItem('jwtToken') !== null) {
                        document.getElementById('loginBtn').style.display = 'none'
                        document.getElementById('registerBtn').style.display = 'none'
                    } else {
                        document.getElementById('logoutBtn').style.display = 'none'
                    }
                })();
            </script>
        </ul>
    </div>
</nav>