<form class="register-form" name="reg-form" action="">
    <div class="form-group">
        <label for="fName">First Name</label>
        <input type="text" class="form-control" id="fName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lName">Last Name</label>
        <input type="text" class="form-control" id="lName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="confPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confPassword" placeholder="First Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>